﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 77px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.red{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    height: 600px;
}

.blue{
    background-color: blue;
    height: auto;
    width: 50%;
    position: absolute;
    margin-top: 25%;
    padding-top: 20px;
    vertical-align: middle;
}

.min-width-300px {
    min-width: 300px;
}

.width-75-percent {
    width: 75%;
}

.div-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.original-price{
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}

.selling-price{
    color:orangered;
}

#no-products-p {
    width: 100%;
    text-align: center;
    font-style: italic;
}

#div-row-contents {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

    #div-row-contents div{
        width: 25%;
        height: 350px;
        padding: 2px;
    }

    /**FOR PRODUCT*/
    #div-row-contents div a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #000;
    }

        #div-row-contents div a img {
            width: 100%;
            height: 60%;
        }

        #div-row-contents div a p {
            width:100%;
            margin:0;
        }

    /**FOR FORM*/
    #div-row-contents form {
        width: 40%;
        margin: auto;
        margin-top: 15%;
        padding: 20px;
        padding-bottom: 30px;
        border: 1px double;
        border-color: #E0E0E0;
        border-radius: 10px;
    }

        #div-row-contents form p {
            width: 100%;
            text-align: center;
            font-size: x-large;
            margin-bottom: 30px;
        }

        #div-row-contents form input {
            width: 80%;
            margin-left: 10%;
            margin-top: 20px;
        }

        #div-row-contents form button {
            width: 50%;
            margin-left: 25%;
            margin-top: 20px;
        }

/*Media Queries*/
@media only screen and (max-width: 767px) and (min-width: 400px) {
    #div-row-contents div {
        height: 300px;
        width: 50%;
    }

        #div-row-contents div img {
            height: 60%;
        }

    #div-row-contents form {
        width: 80%;
        margin-top: 30%;
    }
}

@media only screen and (max-width: 399px) {

    .original-price {
        font-size:1px;
    }

    #div-row-contents div {
        height: 250px;
        width: 50%;
    }

        #div-row-contents div img {
            height: 60%;
        }
}