﻿@model Category
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide min-width-300px" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Resources/Image/bb_0.jpg" alt="" style="width:100%;">
            </div>
            <div class="carousel-item">
                <img src="~/Resources/Image/bb_3.jpg" alt="" style="width:100%;">
            </div>
            <div class="carousel-item">
                <img src="~/Resources/Image/bb_2.jpg" alt="" style="width:100%;">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br /><br />

    <div class="input-group m-auto min-width-300px width-75-percent">
        <input type="text" class="form-control" placeholder="What item are you looking for?" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>

    <br />

    <div class="form-group m-auto min-width-300px width-75-percent">
        <select asp-for="CategoryEnumeration" class="form-control" asp-items="Html.GetEnumSelectList<CategoryEnum>()">
            <option selected="selected" value="">Select Category. . .</option>
        </select>
        <span asp-validation-for="CategoryEnumeration" class="text-danger"></span>
    </div>

    <br />

    <div id="div-row-contents" class="container m-auto min-width-300px">
    </div>

</div>

@section scripts{
    <script src="~/js/home.js" asp-append-version="true"></script>
}
